* {box-sizing: border-box;}

html{
  background-image: url("keyboard_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
  overflow-x: auto;
  overflow-y: auto;
  background-attachment: fixed;
}

div.header-container{
    margin: 0 auto;
    width: 100%;
}

h1{
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    text-align: left;
    margin-bottom: 0px;
}

h3{
	text-align: center;
	color: #27eacd;
	font-size: 25px;
}

div.chatroom-list-container{
	clear: both;
	color: white;
	padding: 5px;
	text-align: center;

    /*outline: 1px solid red;*/
}

div.chatroom-form-container{
    height: 350px;
    overflow: auto;
}

div.chatroom-table-container{
    margin: 0 auto;
    /*outline: 1px solid red;*/
    display: inline-block;
}

#chatroom-table{
    margin: 0;
}

.chatroom-table-cell{
    text-align: left;
    padding-right: 25px;
}

div.new-chatroom{
	margin: 0 auto;
	text-align: center;
}

input[type="text"]{
	margin: 5px auto;
	border: 2px solid #27eacd;
	height: 25px;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

button.form-button{
	font-size: 12px;
	border-radius: 5px;
	background-color: white;
    margin: 10px;
}
button.form-button:hover{
    background-color: rgb(39, 234, 205);
}

.no-chatrooms-message{
    color: red;
}

/* -----Flash Messages-----*/

div.flash{
	background: #27eacd;
	padding: 10px;
	text-align: center;
    border: 1px solid black;
}
