* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

div.main{
    background-image: url("../images/italy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    overflow-x: auto;
    overflow-y: auto;
    background-attachment: absolute;
    /* outline: 1px solid blue; */
    height: 1080px;
}


p.name{
    margin: 0 auto;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 50px;
}

p.sub{
    margin: 0 auto;
    color: white;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 30px;
}

div.header{
    /* margin: auto; */
    display: block;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    /* outline: 1px solid blue; */
    /* margin-bottom: 905px; */
    /* outline: 1px solid green; */
}

div.button-container{
    /* margin: 10; */
    /* outline: 1px solid red; */
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: white;
}

.btn-link{
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}

.btn-link:hover, .btn-link:focus, .btn-link.focus, .btn-link:active{
	color: #fff;
	background-color: #290051;
	border-color: #290051;
}

div.nav{
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
    background-color: #290051; /* Fallback color */
    /* background-color: rgba(0,0,0,0.8); */
    text-align: center;
    /* outline: 1px solid red; */
}

/* Menu container */
div.menu-container{
    text-align: center;
}

/* Unordered list for menu */
ul.main-menu{
    list-style: none;
    text-align: center;
    padding: 15px;
}

/* List items that are direct children of ul */
ul > li{
    display: inline;
    font-size: 25px;
    text-align: center;
    margin: 15px;
}

/* Links that are direct children of li */
li > a{
    text-decoration: none;
    color: white;
    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

/* Menu item hover */
li > a:hover{
    color: #BA284C;
}

/* Add Zoom Animation */
/*.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}*/

/*@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}*/

/*@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}*/
