* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}

div.main{
    background-image: url("italy.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Barlow', sans-serif;
    overflow-x: auto;
    overflow-y: auto;
    background-attachment: absolute;
    /* outline: 1px solid blue; */
    height: 1080px;
}


p.name{
    margin: 0 auto;
    color: #F8F8FF;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 50px;
}

p.sub{
    margin: 0 auto;
    color: #F8F8FF;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 30px;
}

div.header{
    padding-top: 10px;
    display: block;
    z-index: 1; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    /* outline: 1px solid blue; */
    /* margin-bottom: 905px; */
    /* outline: 1px solid green; */
}

div.button-container{
    /* margin: 10; */
    /* outline: 1px solid red; */
    padding: 10px;
}

a:link {
    text-decoration: none;
    color: #F8F8FF;
}

.btn-link{
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #F8F8FF;
	background-color: transparent;
	border-color: #F8F8FF;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}

.btn-link:hover, .btn-link:focus, .btn-link.focus, .btn-link:active, .btn-link.active{
	color: #F8F8FF;
	background-color: #290051;
	border-color: #290051;
}

button{
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #F8F8FF;
	background-color: transparent;
	border-color: #F8F8FF;
	padding: 5px 10px;
	margin: 10px 10px;
	font-size: 12px;
	border-radius: 0;
}

button:hover, button:focus, button.focus, button:active, button.active, button.btn-clicked{
	color: #F8F8FF;
	background-color: #290051;
	border-color: #290051;
}

div.nav{
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
    background-color: #290051; /* Fallback color */
    /* background-color: rgba(0,0,0,0.8); */
    text-align: center;
    /* outline: 1px solid green; */
	padding: 0 75px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .about-container {
  padding-top: 100px;
  width: 100%;
}

/* Unordered list for menu */
ul.main-menu{
    list-style: none;
    text-align: center;
    /* padding: 15px; */
    overflow: hidden;
}

/* List items that are direct children of ul */
ul > li{
    display: inline;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}

/* Links that are direct children of li */
li > a{
    text-decoration: none;
    color: #F8F8FF;
    /* text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; */
}

/* Menu item hover */
li > a:hover{
    color: #ec8879;
}

.left-item{
    float: left;
}

.right-item{
    float: right;
}

p.about-text{
    /* margin: 1000px; */
    /* text-align: center; */
    /* margin: 10px; */
    margin-right: 50px;
    margin-top: 20px;
    color: #290051;
    text-align: justify;
}

div.section-header{
	/* margin-top: 50px; */
	/* padding-top: 25px; */
	/* outline: 1px solid red; */
}

p.section-text{
    /* margin: 1000px; */
    text-align: center;
    /* margin: 10px; */
    margin-top: 20px;
    color: #290051;
    font-size: 24px;
}

p.section-header-dark{
    /* margin-top: 50px; */
    color: #290051;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    padding: 10px 0;
	/* outline: 1px solid red; */
}

p.section-header-light{
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    color: #F8F8FF;
    /* text-shadow: 1px 1px 1px black; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    padding: 10px;
}

hr.section-break{
    height: 3px;
    border: 0;
	margin-bottom: 20px;
	margin-left: 40%;
    margin-right: 40%;
	/* outline: 1px solid red; */
}

hr.dark-break{
	background-color: #290051;
}

hr.light-break{
    background-color: #F8F8FF;
}

hr.about-break{
	height: 3px;
    background-color: #290051;
    border: 0;
	margin-bottom: 10px;
    width: 155px;
}

#picture{
    width: 200px;
    height: 200px;
    background-image: url("me.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
	margin-right: 50px;
    border-radius: 100px;
    border: 10px solid #290051;
}

div.about-container{
	background-color: #F8F8FF;
    display: flex;
	height: auto;
	padding: 40px;
}

div.about-left{
    flex: 0 0 25%;
}

div.about-mid{
    flex: 1;
    margin-bottom: 20px;
}

div.about-right{
    flex: 0 0 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* outline: 1px solid blue; */
}

img.resume-icon{
	width: 100px;
	/* margin: 5% 12.5%; */
	/* outline: 1px solid blue; */
}

p.caption{
	font-size: 14px;
	text-align: center;
	font-style: italic;
	/* outline: 1px solid blue; */
}

div.section-container-light{
	background-color: #F8F8FF;
	text-align: center;
	height: auto;
	padding: 40px;
    /* outline: 1px solid blue; */
}

div.section-container-dark{
	background-color: #ec8879;
    text-align: center;
	height: auto;
	padding: 40px;
}

.project-image{
    max-width:100%;
    max-height:100%;
}

div.project-image-container{
    width: 250px;
    margin: 20px;
    display: inline-block;
    /* outline: 1px solid purple; */
    padding: 0;
}

div.portfolio-viewer{
    display: inline-block;
    /* margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%; */
	margin: 25px;
    /* outline: 1px solid purple; */
    overflow-y: auto;
}

div.empty-portfolio{
	height: 238px;
	padding-top: 50px;
}

div.skill-container{
	display: inline-block;
	/* outline: 1px solid purple; */
	text-align: center;
	margin: 50px;
}

div.skill{
	width: 300px;
	padding: 5px;
	margin: auto;
	overflow-y: hidden;
	text-align: center;
}

div.Expert{
	background-color: #290051;
	background: linear-gradient(to left, #290051 50%, #f6c3bc 50%);
    background-size: 300% 100%;
    background-position:right bottom;
	transition:all 3s ease;
}

div.Advanced{
	background-color: #290051;
	background: linear-gradient(to left, #290051 75%, #f6c3bc 75%);
    background-size: 300% 100%;
    background-position:right bottom;
	transition:all 1.75s ease;
}

div.Proficient{
	background-color: #290051;
	background: linear-gradient(to left, #290051 80%, #f6c3bc 80%);
    background-size: 300% 100%;
    background-position:right bottom;
	transition:all 1.5s ease;
}

div.Basic{
	background-color: #290051;
	background: linear-gradient(to left, #290051 90%, #f6c3bc 90%);
    background-size: 300% 100%;
    background-position:right bottom;
	transition:all 1.25s ease;
}

.skill-name{
	text-align: left;
	margin-bottom: 5px;
}

.skill-level{
	text-align: right;
	margin-top: 5px;
}

div.timeline-viewer{
	background-color: #f3aca5;
	overflow-x: auto;
}



div.contact-viewer{
	margin-top: 25px;
	margin-bottom: 100px;
	display: inline-block;
	text-align: center;
	/* outline: 1px solid green; */
}

div.contact-item{
	display: inline-block;
	text-align: center;
	margin: 10px 25px;
	/* outline: 1px solid purple; */
	width: 200px;
}

.contact-item-img{
	width: 50px;
	height: 50px;
}

.contact-text{
	font-size: 18px;
	color: #290051;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
