* {
    box-sizing: border-box;
}

html{
  background-image: url("../images/ocean_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poiret One', cursive;
  overflow-x: auto;
  overflow-y: auto;
  background-attachment: fixed;
}

h1{
  margin: 0 auto;
  color: red;
  text-shadow: 1px 1px 1px black;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 80px;
}

div.gameboard{
  margin: auto;
}

div.column {
    float: left;
    padding: 0;
    border: 1px solid black;
}

div.column.left {
    width: 20%;
    height: 100%;
    overflow-x: auto;
}
div.column.right {
    width: 20%;
    height: 100%
    overflow-x: auto;
}

div.column.middle {
    width: 60%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.info-label{
  margin-left: 10px;
  display: inline;
  font-size: 26px;
}

.game-info{
  display: inline;
  font-size: 22px;
}

table{
  background-color: #bfefff;
  opacity: 0.75;
  margin: 15px auto;
  width: 385px;
  height: 385px;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  /* padding: 10px; */
  color: red;
  text-align: center;
}

td,th{
	width: 35px;
	height: 35px;
}

td{
  color: black;
}

/* The Modal (background) */
div.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 60px;
}

div.info{
  display: block;
  z-index: 1; /* Sit on top */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Modal (background) */
div.start {
    display: none; /* Hidden by default */
    z-index: 2; /* Sit on top */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
form {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-size: 26px;
    padding: 10px;
}

div.container{
  margin: 0 auto;
}

#player-ninput{
  height: 24px;
  width: 75%;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}
#player-sinput{
  height: 24px;
  width: 75%;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

#player-nlabel{
    display: block;
    width: 100%;
}


button.fire{
  width: 100%;
  height: 40px;
  font-size: 24px;
  color: red;
  margin: 15px auto;
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
/*.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}*/

/*@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}*/

/*@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}*/