{% extends "project_page.html" %}

{% block project_description %}
<p class="project-description">Money on My Mind is a simple budget application for a single user. The application supports several budget categories, and you can set a monthly limit for each category (e.g., $700 for rent, $200 for food, $100 for gas, etc.).

This was the fifth project in the course COE1520: Programming Languages for Web Applications. The main purpose for this project was to implement a RESTful architecture and to use functional programming to populate the categories. Please keep in mind that this application is not fully-functional and was created to meet the following project requirements:</p>

<div class="requirements">

<p class="first-level">1. You must build a RESTful API for accessing your budget category and purchase resources. Specifically, users should be able to perform HTTP GETs, POSTs, and DELETEs on “/cats” to get a list of budget categories, add a new category, and delete a category (respectively), and also perform HTTP GETs, PUTs, and DELETEs to “/purchases” to get a list of individual purchases by the user and to add a new purchase.</p>
<ul class="second-level">
    <li> All data must be transmitted using JSON.</li>
</ul>
<p class="first-level">
2. Since we assume for this project that your website manages the budget of only a single user, you do not need to implement any user management, login, or password authentication.

3. When the root resource of your site is accessed (“/”), your Flask application should send a basic page skeleton to the user along with a JavaScript application that will make AJAX requests to populate the page.

4. Once the page is loaded by a user’s browser, it should make AJAX requests for the list of categories and list of purchases made by the user using the RESTful API.

5. Because you are only outputting budget category summaries to the main page, use console.log() to print the contents of every AJAX response you get to ensure ease of grading.

6. Once populated, the page should display the status of each of the user’s budget categories, and the total of uncategorized purchases.</p>
<ul class="second-level">
    <li> Use Array.map(), Array.reduce(), and/or Array.filter() to writing succinct code to perform your budget analysis.</li>
</ul>
<p class="first-level">
7. The user should always have the ability to add a new purchase (specifying the amount spent, what it was spent on, the date that it was spent, and the category it should be counted towards) or category (specifying name and limit), and also always have the ability to delete any existing category.</p>
<ul class="second-level">
    <li> Deleting an existing category should remove the category designation for the purchases. It should not delete the purchases.</li>
</ul>
<p class="first-level">
8. You do not need to regularly poll the server for updates. However, once user requests any changes (e.g., add a purchase, add a category, delete a category), your application should fetch updated information via the RESTful API, and recompute the status of each of the user’s budget categories.

9. Because we are not storing the data using SQLAlchemy, you do not need to persist data across server instances.</p>
<ul class="second-level">
    <li> If the server is killed (i.e., Ctrl+C issued), all category/purchase data can be forgotten.</li>
</ul>
<p class="first-level">
10. You must build your website using JavaScript, JSON, AJAX, Python 3.6 or greater, and Flask 0.12.
</p>

</div>

{% endblock %}
