{% extends "project_page.html" %}

{% block project_description %}
<p class="project-description">Chatty Kathy is a web application that hosts and manages chat rooms. It uses AJAX (Asynchronous JavaScript And XML) to keep the rooms up-to-date as users send and receive new messages, and SQLAlchemy to store user and message data in a database.

This was the fourth project in the course COE1520: Programming Languages for Web Applications. To simulate multiple users, you can create multiple Chrome profiles and login within two separate browser sessions. Please keep in mind that this chat application is not fully-functional and was created to meet the following project requirements:</p>

<div class="requirements">

<p class="first-level">1. When visiting the page for the first time, users should be given the chance to create an account or login.

2. Once successfully logged in, the user should be given a list of possible chat rooms to join, or a message stating that none currently exist. The user should also have the option to create a new chat room.

3. Once in a chat room, the user should be shown the history of messages for that chat room, as well as be kept up to date as messages are sent to the chat room. The user should also have the option to post a new message to the chat room. The user should further be given a way to leave the chat room.
</p>
<ul class="second-level">
    <li> Users can be in only one chat room at a time.
    <li> Logging out does not cause the user to exit the chatroom. When the user logs in, they should land in the chat room they were in before logging out.
    <li> A link should exist for the user to leave the chatroom.
    <li> You must use AJAX and JSON to update the list of messages posted to the chat room, and to post new messages to the chat room.
    <li> All AJAX chat updates should send only new messages to the user. The user should not receive the full list of chat messages with every AJAX update as this could grow quite large over time.
    <li> You must be sure that your application does not display “phantom” messages to the user.
</ul>
<ul class="third-level">
    <li> i.e., All users in the same chat room should see the same messages in the same order and new messages should always appear at the end of the chat log, never in the middle of the chat log.</li>
</ul>
<ul class="second-level">
    <li> You should take a polling approach to ensure that new messages are always available to the user. Your application should have a 1 second time between polls.</li>
</ul>
<p class="first-level">
4. Once a user leaves the chat room, they should again be shown a list of potential chat rooms to join (or a message if none exist).
</p>
<ul class="second-level">
    <li> The user should also have the option to delete any chat rooms that they created.</li>
</ul>
<ul class="third-level">
    <li> Any users still in a room when it is deleted should be shown a message informing them that the room was deleted and be again presented with the list of available chat rooms (or a message if none exist).</li>
</ul>
<p class="first-level">
5. The user should always (on every page) be presented with away to log out while they are logged in.</>

6. All data for your application should be stored in an SQLite database named “chat.db” using SQLAlchemy’s ORM and the Flask-SQLAlchemy extension.

7. You must build your website using JavaScript, JSON, AJAX, Python 3.5 or greater, Flask 0.12, SQLAlchemy, and the Flask-SQLAlchemy extension.
</p>

</div>

{% endblock %}
