<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>KatiePucci</title>
        <link href="{{url_for('static', filename='home.css')}}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow|Source+Sans+Pro:200" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type = "text/javascript" src = "{{url_for('static', filename='mysite.js')}}" ></script>
    </head>
    <body>
    <!--Header-->
    <div class="main">
        <div class="header">
            <p class="name" id="home">Katie Pucci</p>
            <p class="sub">Mechanical Engineer</p>
            <p class="sub">Computer Engineering Student</p>
            <div class="button-container">
                <a href="#about" class="btn-link">Learn More</a>
            </div>
        </div>
    </div>

    <!--Navigation-->
    <div class="nav" id="navbar">
            <ul class="main-menu" id="navmenu">
                <li class="menu-item left-item" id="kp-item"><a href="#home">KP</a></li>
                <li class="menu-item right-item" id="contact-item"><a href="#contact">Contact</a></li>
                <li class="menu-item right-item" id="certificates-item"><a href="#certificates">Certificates</a></li>
                <li class="menu-item right-item" id="skills-item"><a href="#skills">Skills</a></li>
                <li class="menu-item right-item" id="portfolio-item"><a href="#portfolio">Portfolio</a></li>
                <li class="menu-item right-item" id="resume-item"><a href="#about">Resume</a></li>
                <li class="menu-item right-item" id="about-item"><a href="#about">About Me</a></li>
            </ul>
    </div>

    <div class="about-container" id="about">
        <div class="left">
            <div id="picture">
            </div>
        </div>
        <div class="about-mid">
            <p class="section-header">About Me</p>
            <hr class="section-break" id="about-break">
            <p class="about-text">I'm a graduate of the Pennsylvania State University with a BS in mechanical engineering. I'm also now a senior at the University of Pittsburgh pursuing a second BS in computer engineering. As a mechanical engineer I traveled to various power plants throughout the country, diagnosing and fixing vibrational problems in generators. I discovered a passion for coding when I bought an arduino and began working on home projects in my spare time.</p>
            <p class="about-text">Outside the classroom I'm the goaltender for the Pitt Women's Ice Hockey Club. At Penn State I was the Vice President and co-founder of the Penn State Women's Ice Hockey Club and was chosen to travel to Erzerum, Turkey and Trentino, Italy to play for Team USA in the World University Games.</p>
        </div>
        <div class="clear"></div>
    </div>

    <div class="portfolio-container" id="portfolio">
        <div class="portfolio-header">
            <p class="section-header">Portfolio</p>
            <hr class="section-break" id="portfolio-break">
        </div>
        <div class="portfolio-menu">
            <button id="all-button" type="button" onclick="loadAll();">All</button>
            <button id="web-button" type="button" onclick="loadWeb();">Web Design</button>
            <button id="embedded-button" type="button" onclick="loadEmbedded();">Embedded</button>
            <button id="art-button" type="button" onclick="loadArt();">Art</button>
        </div>
        <div class="portfolio-viewer" id="port-view">
        </div>
    </div>

    <div class="skills-container" id="skills">
        <div class="skills-header">
            <p class="section-header">Skills</p>
            <hr class="section-break" id="skills-break">
        </div>
        <div class="skills-viewer">
            <p class="section-text">Under construction</p>
        </div>
    </div>

    <div class="certificates-container" id="certificates">
        <div class="certificates-header">
            <p class="section-header">Certificates</p>
            <hr class="section-break" id="certificates-break">
        </div>
        <div class="certificates-viewer">
            <p class="section-text">Under construction</p>
        </div>
    </div>

    <div class="contact-container" id="contact">
        <div class="contact-header">
            <p class="section-header">Contact Me</p>
            <hr class="section-break" id="contact-break">
        </div>
        <div class="contact-viewer">
            <p class="section-text">Under construction</p>
        </div>
    </div>
    <!--Smooth scrolling-->
    <script>
        $('a[href^="#"]').on('click', function(event) {
            var navHeight = $("ul#navmenu").height();
            var target = $(this.getAttribute('href'));
            var a = $("div#navbar").attr('class');
            if(target.length) {
                event.preventDefault();
                if(a == "nav sticky" && target.attr('class') == "about-container"){
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 1000);
                }else{
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top - navHeight
                    }, 1000);
                }
            }
        });
    </script>

    {% for message in get_flashed_messages() %}
    	<div class="flash">{{ message }}</div>
    {% endfor %}
    </body>
</html>
