<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>KatiePucci</title>
        <link href="styles/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Barlow|Source+Sans+Pro:200" rel="stylesheet">
        <script type = "text/javascript" src = "scripts/battleship_functions.js" ></script>
    </head>
    <body>
      <!--Header-->
      <div class="main">
        <p class="name">Katie Pucci</p>
        <p class="sub">Mechanical Engineer | Computer Engineering Student | Hockey Player</p>
        <button id="learn-more-button" type="button" onclick="">Learn More</button>
      </div>

  </body>
</html>
